@import "~bootstrap/scss/bootstrap.scss";

input{
   margin: 1rem 0.5rem 1rem 1rem;
}

.task{
    cursor: pointer;
}

.addtask{
    background: rgba(5, 32, 155, 0.808);
    color: white;
    font-weight: bold;
}